<div data-callout-metadata="" data-callout-fold="" data-callout="info" class="callout">
    <div class="callout-title">
        <div class="callout-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="svg-icon lucide-info">
                <circle cx="12" cy="12" r="10"></circle>
                <line x1="12" y1="16" x2="12" y2="12"></line>
                <line x1="12" y1="8" x2="12.01" y2="8"></line>
            </svg></div>
        <div class="callout-title-inner">{{content}}</div>
    </div>
    <!-- <div class="callout-content">
        <p>Here's a callout block.<br>
            It supports <strong>Markdown</strong>, <a data-tooltip-position="top" aria-label="Internal links"
                data-href="Internal links" href="https://help.obsidian.md/Linking+notes+and+files/Internal+links"
                class="internal-link" target="_blank" rel="noopener">Wikilinks</a> and <a data-tooltip-position="top"
                aria-label="Embedding files" data-href="Embedding files"
                href="https://help.obsidian.md/Linking+notes+and+files/Embedding+files" class="internal-link"
                target="_blank" rel="noopener">embeds</a>!<br>
            <span alt="og-image.png" src="og-image.png" class="internal-embed image-embed is-loaded"><img
                    alt="og-image.png"
                    src="https://publish-01.obsidian.md/access/f786db9fac45774fa4f0d8112e232d67/og-image.png"></span>
        </p>
    </div> -->
</div>